//## Colors

//### Primary Brand

$milesBrand: #E6484B;


//### Neutral
$black: hsl(0, 0%, 0%);
$darkGray: #6E6E6E;
$darklight: hsl(0, 0%, 100%);


//font Sizes
$font-sm: 0.875rem; // 14px
$font-med: 1.125rem; //18px
$font-normal: 1rem; //16px
$font-lg:1.3rem;
$font-xlg:3.25rem;