.header {
  background-color: white;
}

.header.open .header__toggle > span:first-child {
  -webkit-transform: rotate(-34deg);
          transform: rotate(-34deg);
  margin-bottom: -4px;
  background-color: #e6494c;
  border-radius: 60px;
  width: 1rem;
}

.header.open .header__toggle > span:nth-child(2) {
  opacity: 0;
}

.header.open .header__toggle > span:last-child {
  -webkit-transform: rotate(33deg);
          transform: rotate(33deg);
  background-color: #e6494c;
  border-radius: 60px;
  width: 1rem;
}

.header .overlay {
  opacity: 0;
  position: fixed;
  top: 0px;
  right: 0;
  left: 0;
  bottom: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(red), to(transparent));
  background-image: linear-gradient(red, transparent);
}

.header nav {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: blueviolet;
}

.header__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__toggle {
  z-index: 3;
  position: absolute;
  height: 18.5px;
}

.header__toggle > span {
  display: block;
  width: 1.3rem;
  height: 2.1px;
  background-color: black;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  -webkit-transform-origin: 6px 1px;
          transform-origin: 6px 1px;
  border-radius: 60px;
}

.header__toggle > span:not(:last-child) {
  margin-bottom: 6px;
}

.header__toggle > span:nth-child(2) {
  width: 1rem;
  height: 1.5px;
}

.header__toggle > span:last-child {
  width: .5rem;
}

.header__logo {
  margin-left: 2.5rem;
}

.header__logo img {
  margin-left: .5rem;
}

.header__links .header__links--icon {
  margin-right: 1.1rem;
}

.header__menu {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem  3rem;
  width: 100%;
  height: 100vh;
  color: black;
  z-index: 2;
  font-size: 1.3rem;
  position: absolute;
  top: 0;
}

@media (min-width: 40em) {
  .header__menu {
    padding: 1rem  10rem;
  }
}

@media (min-width: 64em) {
  .header__menu {
    padding: 2rem  12rem;
  }
}

@media (min-width: 87.5em) {
  .header__menu {
    padding: 2rem  14rem;
  }
}

.header__menu .header__menu-brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 40px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 4rem;
}

.header__menu a {
  margin-bottom: 2rem;
}

.header__menu .header__menu--social {
  margin-top: 3rem;
}

.header__menu .header__menu--social .social {
  margin-top: 1rem;
}

.header__menu .header__menu--social .social a {
  margin-right: 1rem;
}

.scrolling-active {
  background-color: black;
  -webkit-box-shadow: 0 3px 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 1rem rgba(0, 0, 0, 0.1);
  max-height: 90px;
}

html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1, 3;
  font-size: 1rem;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  background-color: white;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

h1 {
  margin: 0;
  line-height: 1;
  margin-bottom: 0.8rem;
}

h2 {
  margin: 0;
  line-height: 1;
  font-weight: 600;
  font-size: 1.6rem;
  color: black;
}

h3 {
  font-size: 1.125rem;
  color: white;
  text-transform: uppercase;
}

h4 {
  font-size: 1.125rem;
  color: black;
  margin: 0;
  padding: 0;
}

p {
  line-height: 1.5;
  font-size: 0.875rem;
  color: #6E6E6E;
  margin: 0;
}

a {
  color: black;
}

.container {
  max-width: 69.375rem;
  margin: 0 auto;
}

.container--pall {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

@media (min-width: 64em) {
  .container--pall {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

.pading-l {
  padding-left: 1rem;
}

.boder-l {
  border-right: 1px solid #e6e6e6;
}

.black-text {
  color: black;
}

@media (max-width: 63.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 64em) {
  .hide-for-desktop {
    display: none;
  }
}

.has-fade {
  visibility: hidden;
}

.fade-in {
  -webkit-animation: fade-in 300ms ease-in-out forwards;
          animation: fade-in 300ms ease-in-out forwards;
}

@-webkit-keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

@-webkit-keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 1;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 1;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

.fade-out {
  -webkit-animation: fade-out 200ms ease-in-out forwards;
          animation: fade-out 200ms ease-in-out forwards;
}

@-webkit-keyframes progressAnimation {
  0% {
    width: 5%;
    background-color: #3cb4ac;
  }
  100% {
    width: 85%;
    background-color: #147b74;
  }
}

@keyframes progressAnimation {
  0% {
    width: 5%;
    background-color: #3cb4ac;
  }
  100% {
    width: 85%;
    background-color: #147b74;
  }
}

.hero {
  position: relative;
}

.hero__container {
  position: relative;
  height: 448px;
}

.hero__container::before {
  content: "";
  position: absolute;
  background-image: url("/images/bg-qs.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: block;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.hero__container::after {
  content: "";
  position: absolute;
  background-image: url("/images/BTN-Buscar.svg");
  z-index: 1;
}

.hero__title {
  margin: 0 auto;
  text-align: center;
  padding-top: 2rem;
}

.hero__card {
  position: relative;
  background-color: white;
  margin: 1.3rem;
  padding: 1rem;
  border-radius: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  border: 1px solid #c8c8c8;
  -webkit-box-shadow: -1px 2px 14px -8px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 2px 14px -8px rgba(0, 0, 0, 0.75);
}

.hero__card .hero__card--icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero__card .hero__card--text {
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  margin-left: 1rem;
}

.hero__card .hero__card--text input {
  border: none;
  margin: 0;
  padding: 0;
  width: 70px;
}

.hero__card .hero__card--text input::-webkit-input-placeholder {
  font-size: 18px;
  color: black;
  font-weight: bolder;
  font-family: "Poppins", sans-serif;
}

.hero__card .hero__card--text input:-ms-input-placeholder {
  font-size: 18px;
  color: black;
  font-weight: bolder;
  font-family: "Poppins", sans-serif;
}

.hero__card .hero__card--text input::-ms-input-placeholder {
  font-size: 18px;
  color: black;
  font-weight: bolder;
  font-family: "Poppins", sans-serif;
}

.hero__card .hero__card--text input::placeholder {
  font-size: 18px;
  color: black;
  font-weight: bolder;
  font-family: "Poppins", sans-serif;
}

.hero__card .hero__card--box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
}

.hero__toggle {
  margin: 1.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.hero__toggle .hero__toggle--title {
  color: white;
  margin-left: 1rem;
}

.hero__search {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -50px;
}

.ads__container {
  height: 184px;
  border: solid 1px #e6e6e6;
  border-radius: 6px;
  margin: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ads__container .ads__promos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.ads__container .ads__promos p {
  font-size: 1.3rem;
  text-transform: uppercase;
  color: black;
  font-weight: bolder;
}

@media (max-width: 39.9375em) {
  .ads__container .ads__promos p {
    width: 50%;
    font-size: 1.1rem;
  }
}

.ads__container .ads__promos p span {
  color: #E6484B;
}

@media (max-width: 39.9375em) {
  .ads__container .ads__promos img {
    width: 50%;
  }
}

.ads__container .ads__text {
  margin: 0.5rem 2rem 0 2rem;
  text-align: center;
}

.ads__container .ads__text .text span {
  font-weight: bolder;
}

.rank__api {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  margin: 1rem;
}
/*# sourceMappingURL=styles.css.map */